

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.navbar-right {
    margin-right:5%;
}

p, ul {
    font-family:Arial;
    font-size:16px;
    line-height:24px;
}
.h1, .h2, .h3,  h1, h2, h3 {
    font-weight: 300;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.digicolor {
    color: #ed7b3b;
}
.customcolor {
    color: #2a6db6;
}
.blackcolor {
    color: #000000;
}

.nopadding {
    padding: 0 !important;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles + Updates */

.btn-primary {
    padding: 20px;
}

.btn-primary > a {
    color: #fff;
    text-decoration: none;
}

img.icon {
    height: 60px;
    width: 60px;
}

.padhead {
    padding: 15px 0 20px;
}

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

table {
    border-collapse: collapse;
    padding: 20px;
    width: 100%;
}

#tab1 {
    background: url(../img/Thermal_25px.png) no-repeat;
    height: 25px;
    width: 25px;
    position: relative;
    display: inline-block;
    top: 5px;
    right: 5px;
}

#tab2 {
    background: url(../img/Liquid_25px.png) no-repeat;
    height: 25px;
    width: 25px;
    position: relative;
    display: inline-block;
    top: 5px;
    right: 5px;
}

#tab3 {
    background: url(../img/psa_25px.png) no-repeat;
    height: 25px;
    width: 25px;
    position: relative;
    display: inline-block;
    top: 5px;
    right: 5px;
}

#tab4 {
    background: url(../img/faq-25px.png) no-repeat;
    height: 25px;
    width: 25px;
    position: relative;
    display: inline-block;
    top: 5px;
    right: 5px;
}

td {
    width: 96px;
}

td, th {
    text-align: center;
    border-bottom: solid 1px #ccc;
    font-size: 12px;
    padding: 10px;
    word-wrap: break-word;
}

tr:nth-child(4n+4), tr:nth-child(4n+3) > td:nth-child(2) {
    background-color: #efefef;
}

th:first-child, td:first-child {
    color: black;
    text-align: left;
    width: auto;
}

th {
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    line-height: 100%; 
}

.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.tile .title {
    margin-top: 0px;
}

.tile.purple, .tile.blue, .tile.red, .tile.orange, .tile.green, .tile.yellow {
    color: #fff;
}

.tile.purple {
    background: #5133ab;
}

.tile.purple:hover {
    background: #3e2784;
}

.tile.red {
    background: #ac193d;
}

.tile.red:hover {
    background: #7f132d;
}

.tile.green {
    background: #00a600;
}

.tile.green:hover {
    background: #007300;
}

.tile.blue {
    background: #2672ec;
}

.tile.blue:hover {
    background: #125acd;
}

.tile.orange {
    background: #dc572e;
}

.tile.orange:hover {
    background: #b8431f;
}

.tile.yellow {
    background: #BDB76B;
}

.tile.yellow:hover {
    background: #808000;
}

.visible-xs {
    display: none;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */
@media screen and (min-width: 992px) {
    .nomarg {
        margin-top: 13px !important;
    }

    .tablink {
        background-position: 20px 10px !important;
    }
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }

    .nomarg {
        margin-bottom: 10px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .compchart {
        padding: 0 20px;
    }

    .compchart > .row {
        margin: 0 !important;
    }

    .lastcell {
        border-left: 1px solid #ccc;
        width: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .tablink {
        background-position: 0 10px !important;
    }
}

@media screen and (min-width: 769px) {
    th.headertext {
        height: 96px;
        text-align: left;
      }

    th.headertext {
      -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg); 
        transform: rotate(270deg);
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

@media screen and (max-width: 768px) {
    h1 {
      margin-left: 20px;
      font-size: 26px;
    }
    
    h2 {
      font-size: 22px;
    }

    .tablink {
        background-position: 20px 10px !important;
    }
    
    tr {
      width: 100%;
    }
    
    th {
      font-size: 16px;
      width: 25%;
    }

    .visible-xs {
      display: table-row;
    }

    .visible-xs > td:nth-child(2) {
      background-color: #fff;
    }
    td:first-child,
    th:first-child {
      display: none;
    }
}
